@model System.Text.Json.JsonElement

@{
    ViewData["Title"] = "Callback page";
}

<div class="text-center">
    <h1 class="display-4">Callback page</h1>
    
    <h2>JSON Data</h2>
    <ul>
        <li>Model: @Model</li>
    </ul>
</div>
